@charset "uft-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* reset */
html, body, div, span,
h1, h2, h3, p, ol, ul, li,
form, label, header, section, time {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #ffffff;
}

ul,ol {list-style: none;}
a {color: inherit; text-decoration: none;}
img {vertical-align: top; border: none;}
button {border: none; padding: 0; cursor: pointer; background-color: transparent; color: inherit; font-family: inherit; font-size: inherit;}

:root {
  --main-color : #FFFFFF;
  --secondary-color : #1C1B1B; 
}

/* common */

/*Js에서 className부여로 요소를 숨기기 위해*/
.hidden {display: none;}

body {height: 100vh; overflow: hidden; font-size: 17px;}

main {position: relative; top: 50px; text-align: center;}

/*weather*/
#weather {font-weight: 500; display: flex; justify-content: flex-end; font-size: 17px; padding: 20px;}
#weather .city {margin-right: 10px;}
#weather .city::before {content: "____"; padding-right: 5px; font-weight: bold;}
#weather .weather {text-align: center;} 

/*inner*/
.inner {display: flex; flex-direction: column; align-items: center;}

/*clock*/
.js-clock {margin-bottom: 30px; text-align: center;}
.js-clock #clock {font-size: 80px;}

/*greetings*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-color);
  opacity: 1; /* Firefox */
}
input[type="text" i] {padding: 1px 2px;}

.input-name,
.input-todolist {font-size: 20px; border: 0; outline: 0; text-align: center; background-color: transparent; border-bottom: 3px solid var(--main-color); color: var(--main-color);}

.greeting-container {display: inline-block; position: relative; top: -50px;}
.greeting-container #greeting {font-size: 65px; background: linear-gradient(to top right, #5b83c0, #fc978d); color: transparent; -webkit-background-clip: text;}
.greeting-container .fa-edit {position: absolute; top: 0; right: 0; font-size: 12px; cursor: pointer; display: block;}
.greeting-container .fa-edit::before {content: "\f044";}

/*bg*/
.bgimg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; animation: fadeIn 0.5s linear;}

/*todolist*/
#todo-list {margin: 30px 0;}
#todo-list li + li {margin-top: 5px;}
#todo-list li span {font-size: 20px; margin-right: 5px;}
#todo-list li button {transition-duration: 1s;}
#todo-list li button:hover {transform: rotate( 360deg );}

/*quote*/
#quote {font-weight: 500; font-size: 17px; position: absolute; bottom: 5px;}
#quote span {display: inline-block; margin: 0 5px;}